/* VALUES RESET */

* {
    margin: 0;
    padding: 0;
}

/* HEADER STYLE */

.article-header {
    background-color: rgb(156, 214, 244) ;
}

.article-logo {
    width: 200px;
    padding: 35px 16px;
}

/* ARTICLE TITLE STYLE */

.article-title {
    font-family: serif ;
    font-size: 40px;
    font-weight: 600;
}

section a{
    text-decoration: none;
    color: rgb(78, 181, 255);
}

.article-author {
    color: rgb(143, 135, 134);
    font-size: 20px;
}

.article-date {
    color: rgb(143, 135, 134);
    font-size: 14px;
}

/* PHOTO STYLE */

figure {
    padding-top: 20px;
}

.tim-pic{
    height: 300px;
}

.caption {
    font-size: 12px;
}

/* PARAGRAPH STYLE */

.article-paragraph {
    padding: 20px 0p;
}

/* LIST STYLE */

.article-list {
    list-style-position: inside;
    padding-bottom: 20px;
}

/* TABLE STYLE */

.article-table {
    width: 100%;
}

.table-head {
    background-color: rgb(127, 166, 251);
    color: white;
    text-align: left;
}

.colored-cell {
    background-color: rgb(223, 229, 242);
}

.column-25 {
    width: 25%;
}

.column-50 {
    width: 50%;
}

td {
    padding: 10px 0px;
}

/* GENERAL LAYOUT SETTING */

.article-layout {
    margin: 30px 16px   ;
}

